.loader-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.loader {
  font-family: sans-serif;
  font-weight: 900;
  background: conic-gradient(
    #4f2c4f 0% 30%,
    #e09c3d 30% 60%,
    #ffe9d6 60% 85%,
    #d27742 85% 100%
  );
  background-size: 200% 200%;
  animation: animateBackground 3s ease-in-out infinite;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes animateBackground {
  33% {
    background-position: 0 100%;
  }
  66% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@media (max-width: 768px) {
  .loader {
    font-size: 3rem;
  }
}
