.glow-button {
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  background: #4d204d;;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 2px solid #4d204d;
}

.glow-button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    transparent,
    #ff55aa4d, /* Pink Glow */
    #ffb3d9, /* Soft Pink */
    #ff55aa4d,
    transparent
  );
  transform: rotate(45deg);
  animation: glowing 3s linear infinite;
}

.glow-button:hover {
    box-shadow: 0 0 20px #ff55aa99;
}

@keyframes glowing {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}

.button-text {
  position: relative;
  z-index: 1;
}