@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
body{
  font-family: "Inter", serif;
  color: #B3B3B3;
}
.font-poppins{
  font-family: "Poppins", serif;
}

.max-width{
  @apply max-w-[1400px] mx-auto px-4 md:px-12 lg:px-20 xl:px-24
}

.section-gap{
  @apply mt-16 md:mt-24 lg:mt-28
}
p{
  @apply text-secondary
}